
body{
  background-image: url('../Pattern@2x.png');
  /* background: linear-gradient(#000000, #000000); */
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 
}

#root{
position: absolute;
  height: 100%;
  width: 100%;
}